
.rest-container {
    margin: 50px;
    text-align: left;
}
.rest-container:hover {
    cursor: pointer;
}

.rest-image {
    min-height: 300px;
    min-width: 600px;
    max-width: 600px;
    max-height: 300px;
    border-radius: 24px;
    float: left;

    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    width: auto;
    display: flex;
}



.rest-container .rest-info {
    border-radius: 24px;
    border-color: #03217b;

    font-weight: bold;
    font-style: oblique;
    padding: 10px;

    color: white;
    display: block;
    white-space: normal;
    max-width: 600px;
    max-height: 300px;
}

.rest-info .name {
    font-size: 24px;
}

.rest-info .address {
     text-align: right;
     justify-content: right;
}


.rest-image:hover {
    background: rgba(255, 255, 255, 0.10);
}
