.restaurant-page {
    display: flex;
    flex-wrap: wrap;
    /*max-width:1200px; !* максимальная ширина страницы *!*/
    margin: 0 auto; /* центрируем страницу */
    padding: 20px;
    flex: 80%; /* карта занимает 20% ширины */
}

.restaurant-info {
    overflow: hidden; /* предотвращаем выход дочернего контента за пределы */
    padding: 20px; /* добавляем отступы для дочернего контента */
    box-sizing: border-box; /* учитываем отступы в ширине */
    /*width: 100%; !* ширина равна ширине родительского элемента *!*/
    display: flex; /* используем flexbox для вертикального центрирования */
    flex-direction: column; /* направление flexbox - столбец */
    align-items: center; /* центрируем дочерние элементы по горизонтали */
}

.restaurant-info img {
    /*overflow: hidden; !* предотвращаем выход дочернего контента за пределы *!*/
    /*max-width: 100%; !* изображение не должно выходить за пределы родительского элемента *!*/
    /*height: auto; !* автоматическая высота изображения *!*/
    margin-bottom: 20px; /* отступ между изображением и текстом */
}

.restaurant-info p {
    overflow: hidden; /* предотвращаем выход дочернего контента за пределы */
    margin-bottom: 10px; /* отступ между строками текста */
}

.map {
    flex: 20%; /* карта занимает 20% ширины */
    position: sticky; /* закрепляем карту справа */
    top: 0;
    height: 40vh; /* высота карты равна высоте viewport */
    /*width: 70vh; !* высота карты равна высоте viewport *!*/
}

/*!* стили для карты *!*/
/*.map iframe {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border: none;*/
/*}*/