.restaurant-list{
    display: inline-flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 1000px!important;
}

.item{
    flex-basis: 200px; /* начальную ширину карточки */
    max-width: 600px; /* максимальную ширину карточки */
    max-height: 300px; /* максимальную ширину карточки */
}