.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item{
    flex-basis: 200px; /* начальную ширину карточки */
    max-width: 600px; /* максимальную ширину карточки */
    max-height: 300px; /* максимальную ширину карточки */
}